
.message-screen{
    background: linear-gradient(to top left,lavender,aliceblue);
    height:10vh;
    width:fit-content;
    margin-inline:auto;
    padding:10px;
    margin-top:10px;
    display:flex;
    flex-direction: column;
    border-radius:10px;
    justify-content: center;
    position: fixed;
    bottom:20px;
    right:20px;
}

.message-screen.hide{
    display:none;
}

.message{
    color:black;
}



.user-list{
    position: absolute;
    right:10px;
    top:10%;
    display:flex;
    flex-direction: column;
    row-gap:10px;
}

.user-list select{
    padding:10px;
    background-color: rebeccapurple;
    color:white;
    border-radius:10px;
    border:none;
}

.user-list button{
    padding:10px;
    background-color: rebeccapurple;
    color:white;
    border-radius:10px;
    border:none;
}